// position.scss
// =============

// directions( <$directions: top right bottom left> )
@mixin directions (
  $directions: no no no no
){
  @if nth($directions,1) != no {
  top   : nth($directions,1);}

  @if nth($directions,2) != no {
  right : nth($directions,2);}

  @if nth($directions,3) != no {
  bottom: nth($directions,3);}

  @if nth($directions,4) != no {
  left  : nth($directions,4);}
}

// position( <$type>, <$directions> )
@mixin position (
  $type: static,
  $directions: 0 no no 0
){
  position: $type;
  @include directions($directions);
}

// position absolute
@mixin position-absolute-all { @include position(absolute, 0 0 0 0);   }
@mixin position-absolute-y   { @include position(absolute, 0 no 0 no); }
@mixin position-absolute-x   { @include position(absolute, no 0 no 0); }
@mixin position-absolute-tr  { @include position(absolute, 0 no no 0); }
@mixin position-absolute-br  { @include position(absolute, no 0 0 no); }
@mixin position-absolute-bl  { @include position(absolute, no no 0 0); }
@mixin position-absolute-tl  { @include position(absolute, 0 no no 0); }

// position fixed
@mixin position-fixed-all { @include position(fixed, 0 0 0 0);   }
@mixin position-fixed-y   { @include position(fixed, 0 no 0 no); }
@mixin position-fixed-x   { @include position(fixed, no 0 no 0); }
@mixin position-fixed-tr  { @include position(fixed, 0 no no 0); }
@mixin position-fixed-br  { @include position(fixed, no 0 0 no); }
@mixin position-fixed-bl  { @include position(fixed, no no 0 0); }
@mixin position-fixed-tl  { @include position(fixed, 0 no no 0); }
