// color.scss
// ==========

// hex( <$color> )
@function rgb-to-hex($color) {
  @return mix($color);
}

// rgba-to-hex( <$color>, <$background> )
@function rgba-to-hex($color, $background) {
  @return mix(rgba($color,1), $background, percentage(alpha($color)));
}

// alpha-attribute
// http://thesassway.com/intermediate/mixins-for-semi-transparent-colors/
@mixin alpha-attribute($attribute, $color, $background: white) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  @if ($percent < 100%) { #{$attribute}: $solid-color; }
  #{$attribute}: $color;
}
